
* {
	box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

// h1 {
//   font-family: 'Lato';
//   font-size:30px;
// }

.page-header {
  text-align: center;
}

.titleheader {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 5px;
}

.username {
  margin-top: 5px;
  font-weight: lighter;
}

.tagalog-card {
    float: right;
    text-align: center;
    width: 250px;
    height: 90px;
    border: 1px solid blue;
    box-sizing: border-box;
    border-radius: 5px;
}

.score {
  float: left;
  bottom: 0;
}
